body {
  font-family: arial, sans-serif;
  background: url(https://github.com/Charlotte0211/Vanilla---Project---Weather-App/blob/main/src/Fleur.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

h2 {
  color: #000000;
  font-size: 18px;
  text-align: center;
  font-weight: 100;
  line-height: 28px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:visited {
  background-color: #000000 !important;
  border-radius: 20px !important;
  border-color: #000000 !important;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  background-color: #fff;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 9px 9px 24px 6px #13223811;
}

.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 90px;
  width: 90px;
}
.weather-temperature strong {
  color: rgb (33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 0px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
  color: #000;
  text-align: center;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.open-source {
  text-align: center;
}
.forecast-img {
  weight: 50px;
  height: 50px;
}
